.start-button,
.options-button,
.exit-button {
    width: 320px;
    height: 90px;
    background-repeat: no-repeat;
    -unity-background-scale-mode: scale-to-fit;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    background-image: resource("Images/startBtn");
}

.start-button {
    display: flex;
    width: 320px;
    height: 90px;
    background-image: resource("Images/startBtn");
    -unity-background-scale-mode: scale-to-fit;
    background-repeat: no-repeat;
}

.start-button:hover {
    background-image: resource("Images/startBtnHover");
}

.options-button {
    background-image: resource("Images/optionsBtn");
}

.options-button:hover {
    background-image: resource("Images/optionsBtnHover");
}

.exit-button {
    background-image: resource("Images/exitBtn");
}

.exit-button:hover {
    background-image: resource("Images/exitBtnHover");
}
